[init]
	defaultBranch = main

[core]
	editor = vim

[color]
	ui = auto

[http]
	sslVerify = false

[user]
	name = kabirz
	email = jxwazxzhp@126.com

[alias]
	st = status
	br = branch
	ci = commit
	co = checkout
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	view = !tig

[tar "tar.xz"]
	command = xz -c

[url "https://kgithub.com"]
	insteadOf = https://github.com

[url "git@github.com:"]
	pushInsteadOf = https://github.com/

[delta]
	side-by-side = true
	features = decorations

[delta "interactive"]
	keep-plus-minus-markers = false

[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = blue box
	hunk-header-file-style = red
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax
